.App {
    /* text-align: center; */
    background-color: #f1f0ee;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

@media (min-width: 800px) {
    .App {
        min-height: 800px;
    }
}


/* button styles */

.btn {
    background-color: white;
    color: #add8e6;
    margin-top: 1em;
}

.row .col {
    padding: 0;
}

.tabs .indicator {
    background-color: #bd8c7d;
}

.tabs .tab a {
    color: #bd8c7d;
}

.tabs .tab a:hover {
    color: black;
}

.tabs .tab a.active {
    color: #add8e6;
}

.newFormItem {
    font-size: 1.1rem !important;
    text-align: left !important;
    width: 110% !important;
}

.left {
    text-align: left !important;
    float: left !important;
}

.fullWidth {
    width: 150% !important;
}

.bold {
    font-weight: bold;
    font-size: 1.4rem;
}

.block {
    display: block;
}

.centered {
    margin: 0 auto;
}

p {
    margin: 5px 0px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: #e0474c;
}

h2 {
    margin: 5px 0px;
    font-family: "Raleway", sans-serif;
    color: #e0474c;
}

.deep-red {
    color: #b11a21;
}

.light-red {
    color: #e0474c;
}

.blue-beans {
    color: #7acfd6;
}

.light-grey {
    color: #f1f0ee;
}

tspan {
    align-content: right !important;
}

.left {
    text-align: left;
}

.full {
    width: 100%;
}

nav {
    background-color: #ffffff !important;
    height: 3em !important;
    border: 2px solid #b11a21;
}

nav li a {
    text-decoration: none;
    color: #333333;
    font-size: 1.4em;
}

li {
    display: inline;
    margin-left: 40px;
}

select {
    margin: 5px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

.holderData {
    margin: 2%;
}